<div style='background-color:orange'>
    <h3>Alison -> LinkedIn Hook</h3>
   
    <ol id='sendMessage_selectedCandidates'>

    </ol>

    <div>
        <div>
            Connection Request Message:
        </div>
        <textarea id='connectionMessage' rows='10' cols='40'>Hello [firstName],

Want to network?
        </textarea>
    </div>

    <div>
        <div>
            Linked In Message:
        </div>
        <textarea id='linkedInMessage' rows='10' cols='40'>Hi [firstName],
    
Want to network?
        </textarea>
    </div>

    <div>
        <Button id='sendMessage'>Send Message</Button>
    </div>
</div>

<script src='https://tonkasourceworkflows.firebaseapp.com/linkedin/alisonHook/templates/sendLinkedInMessages/sendLinkedInMessages.js' type='application/javascript'></script>