.table {
    display: flex;
    flex-flow: column nowrap;
    font-size: .8rem;
    margin: 0.5rem;
    line-height: 1.5;
    border-bottom: 1px solid #d0d0d0;
    flex: 1 1 auto;
}

.th {
    display: none;
    font-weight: 700;
    background-color: #f2f2f2;
}

.tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #d0d0d0;
}

.margin-left-a-bit {
    margin-left: 30;
}

.section h3 {
    margin-top: 15;
    margin-bottom: 15;
}

.section div {
    margin: 0 0 10 15;
}

.contactContainsFilter {
    width: 90%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}