.job-jumper-container {
    border: .5px solid;
    font-weight:bold;
    padding: 0px 1px 0px 1px;
    margin: 0px 3px;
    display: inline-block;
}

.job-jumper-grade {
    padding: 0px 7px 0px 7px;
    display: inline-block
}

.blue {
    color: blue;
}

.green {
    color: green;
}